<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>showpackage</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="searchPage">
        <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
