<ion-header>

  <ion-navbar color="primary">
    <ion-title>Travel Attraction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img potision" (click)="wildlife()"></ion-item></ion-col>
          <ion-col col-6><ion-item class="img1 potision" (click)="hillstation()"></ion-item></ion-col>
          <ion-col col-6><ion-item class="img2 potision" (click)="beaches()"></ion-item></ion-col>
          <ion-col col-6><ion-item class="img3 potision" (click)="yoga()"></ion-item></ion-col>
          <ion-col col-6><ion-item class="img4 potision" (click)="her()"></ion-item></ion-col>
          <ion-col col-6><ion-item class="img5 potision" (click)="honey()"></ion-item></ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
