page-travelattraction {

    .img{
        background-image: url("/assets/imgs/wildlife.jpg");
        height: 120px;
        color: white; 
}
.img1{
        background-image: url("/assets/imgs/hillstation.jpg");
        height: 120px;
        color: white;
}
.img2{
        background-image: url("/assets/imgs/beaches.jpg");
        height: 120px;
        color: white;
}
.img3{
        background-image: url("/assets/imgs/ayurveda.jpg");
        height: 120px;
        width: auto;
        color: white;
}
.img4{
        background-image: url("/assets/imgs/heriatge.jpg");
        height: 120px;
        color: white;
}
.img5{
        background-image: url("/assets/imgs/honeymoon.jpg");
        height: 120px;
        color: white;
}
.potision{
        // background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
      }
}
