
<ion-header>

  <ion-navbar color="primary">
    <ion-title>bus search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
     
        <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
     
      <h2>GSRTC-11429  {{price | currency:'INR':true}}</h2>
      <p> </p>
      <p>EXPRESS</p>
      <p>44 seats</p>
      <p>no rating</p>
      <p item-end> {{price | currency:'INR':true}}</p>
        <p item-end>5:25 PM</p>
        <p item-end>5:25 PM</p>
        
      </ion-item>
    <ion-item>
     
      <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
   
    <h2>GSRTC-11265</h2>
    <p item-end> {{price | currency:'INR':true}} </p>
    <p>EXPRESS</p>
    <p>30 seats</p>
    <p>no rating</p>
      <p item-end>4:23 PM to</p>
      <p item-end>5:25 PM</p>
      
  </ion-item>
  <ion-item>
     
    <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
 
  <h2>GSRTC-12564</h2>

  <p>EXPRESS</p>
  <p item-end> {{price | currency:'INR':true}} </p>
  <p>20 seats</p>
  <p>no rating</p>
    <p item-end>3:59 PM to</p><br>
    <p item-end>4:23 PM</p>

</ion-item>
<ion-item>
     
  <ion-icon ios="ios-bus" md="md-bus"></ion-icon>

<h2>GSRTC-11539 </h2>
<p item-end> {{price | currency:'INR':true}} </p>
<p>Local</p>
<p>29 seats</p>
<p>no rating</p>
  <p item-end>6:34 PM</p><br>
  <p item-end>7:34 PM </p>
  </ion-item>

  </ion-list>
</ion-content>
