#notification {
    padding-inline-end: 10px;
}

#center {
    text-align: center;
}

.ion-col {
    text-align: left;
}

#white {
    background-color: #ffffff;
}

#notifications-badge {
    background-color: lightseagreen;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
} // #profilepic {
//   position: absolute;
//   top: 5px;
//   // bottom: 10px;
// }
#username {
    position: absolute;
    left: 70px;
    top: 7px;
}

#date {
    position: absolute;
    left: 70px;
    bottom: 10px;
}

#more {
    font-size: 25px;
}

.card {
    background-color: #ffffff;
}

.card-top {
    position: absolute;
    top: 80px;
    background-color: rgb(250, 236, 37);
    height: 160px;
}