
<ion-header>

  <ion-navbar color="primary">
   
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FlightSearchResult</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only [navPush]="searchPage">
        <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>





<ion-content>
 <ion-list>
    <ion-item>
     
      <ion-icon ios="ios-plane" md="md-plane"></ion-icon>
     
      <h2>Air India </h2>
        <p >5:25 PM</p>
        <p >7:45 PM</p>
        <p item-end> {{price1 | currency:'INR':true}}</p>
      </ion-item>
     <ion-item>
        <ion-icon ios="ios-plane" md="md-plane"></ion-icon>
          <h2>IndiGo </h2>
          <p >2:58 AM</p>
          <p >5:10 AM</p>
          <p item-end> {{price2 | currency:'INR':true}}</p>
        </ion-item>
        <ion-item>   
          <ion-icon ios="ios-plane" md="md-plane"></ion-icon>
            <h2>Go Air </h2>
            <p >2:25 PM</p>
            <p >4:45 PM</p>
            <p item-end> {{price3 | currency:'INR':true}} </p>
            <button ion-button (click)="book(flight.from, flight.to, flight.departure, flight.person, flight.economyclass)">book</button> 
          </ion-item>
          <ion-item>
            <ion-icon ios="ios-plane" md="md-plane"></ion-icon>
            <h2>Air India </h2>
              <p >8:25 PM</p>
              <p >10:45 PM</p>
              <p item-end> {{price4 | currency:'INR':true}} </p>
            </ion-item>
  </ion-list> 
  <!-- <h1>Flight: </h1>
  <p>Date: {{flight:from}}</p>
  <br>
  <p>Persons: {{Flight:to}}</p>
  <p>
    Stay {{flight.departure}} Days
  </p>
  <h4 item-end> Visiting place : {{flight.person}}</h4>
  <br>
  x<br>
  <h1>Description: </h1>
  <p>{{flight.economyclass}}</p>
  <button ion-button (click)="book(flight.from,flight:to,flight.departure,flight.person,flight.economyclass)">book</button> -->
</ion-content>