<ion-header>

  <ion-navbar color="primary">
    <ion-title>Bus Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
    <form [formGroup]="searchBus" (submit)="search()">
    <ion-list>
      
        <ion-item class="transparent">
          <ion-label floating>From</ion-label>
          <ion-input formControlName="from" type="text" class="text-color"></ion-input>
        </ion-item>
      
        <ion-item class="transparent">
          <ion-label floating>To</ion-label>
          <ion-input formControlName="to" type="text" class="text-color"></ion-input>
        </ion-item>
        
        <ion-item class="transparent">
          <ion-label floating>Departure</ion-label>
          <ion-input formControlName="departure" type="text" class="text-color"></ion-input>
        </ion-item>
  
       
      </ion-list>
      <button ion-button round outline (click)="search()" >Search</button>
    </form>
  </ion-content>
  