
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Top Destination</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="img2 position" (click)="bb()">Central Gujrat  </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item class="img2 position" (click)="bb()">Central Gujrat  </ion-item>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 


<ion-col col-8>
        
    <ion-item class="img2 position" (click)="bb()">North Gujrat</ion-item>
  </ion-col>
  
  <ion-col>
    
    <ion-item class="img2 position" (click)="bb()">East Gujrat</ion-item>
  </ion-col>
</ion-row>
<ion-row>
    <ion-col col-4>
       
        <ion-item class="img2 position" (click)="bb()"> South Gujrat  </ion-item>
      </ion-col>
  
  <ion-col>
   
   <ion-item class="img2 position" (click)="bb()">West Gujrat</ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-item class="img2 position" (click)="bb()">Central Gujrat  </ion-item>
  </ion-col> -->