
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Package-serch-result</ion-title>
    <ion-buttons end>
        <button ion-button icon-only [navPush]="searchPage">
          <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
        </button>
  
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-content>

        <img width="400" height="200" src="../../assets/imgs/starottel.jpg">
        
          <ion-card class="card-top">
              <ion-card-content>
              <h3>STAROTTEL AHMEDABAD</h3>
              <p>Ashram Road</p>
              <br>
              <p>include in the price</p>
              <p item-end>
                  per night
                </p>
              <h4 item-end> {{price1 | currency:'INR':true}}</h4>
              
              </ion-card-content>
            </ion-card>
        
            <br><br><br><br>
        
          <ion-card class="card">
            <ion-card-content>
              <h4>About starottel</h4>
    
               <p> St. Laurn Tower Ahmedabad, a hotel offering 5-star luxuries, located in the heart of the city on Ashram Road is only 8 km from International & Domestic Airport. The hotel has a tradition of being a home to the discerning business traveller since its inception. In a city legendary for a mix of contemporary and modern architecture, St Laurn Ahmedabad offers the finest business environment.</p>
            </ion-card-content>
          </ion-card> 
        
          </ion-content>
</ion-content>
