
<ion-header>

  <ion-navbar color="primary"> 
    <ion-title>highlights</ion-title>
     
        <ion-buttons end>
               <button  ion-button (click)="signin()" >Sign in</button>
        </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img potision" (click)="sp()">Saved places</ion-item></ion-col>
          <ion-col col-6><ion-item class="img1 potision" (click)="td()">Things to do</ion-item></ion-col>
          <ion-col col-6><ion-item class="img2 potision" (click)="rs()">Reservation</ion-item></ion-col>
          <ion-col col-6><ion-item class="img3 potision" (click)="dp()">Day Plans</ion-item></ion-col>
          <ion-col col-6><ion-item class="img4 potision" (click)="fd()">Food and Drinks</ion-item></ion-col>
          <ion-col col-6><ion-item class="img5 potision" (click)="ga()">Getting around</ion-item></ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
