page-highlights {
.img{
        background-image: url("/assets/imgs/savedplaces.jpg");
        height: 120px;
        color: white; 
}
.img1{
        background-image: url("/assets/imgs/tog.jpg");
        height: 120px;
        color: white;
}
.img2{
        background-image: url("/assets/imgs/rd.jpg");
        height: 120px;
        color: white;
}
.img3{
        background-image: url("/assets/imgs/days.jpg");
        height: 120px;
        color: white;
}
.img4{
        background-image: url("/assets/imgs/f&d.jpg");
        height: 120px;
        color: white;
}
.img5{
        background-image: url("/assets/imgs/ges.jpg");
        height: 120px;
        color: white;
}
.potision{
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
      }
}


