page-exfeedback {

    .img{
        background-image: url("/assets/imgs/mem.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        // text-align: center;
      }
    .transparent {
        background-color: rgba(255, 255, 255, 0);
    }
}
