<ion-header>

  <ion-navbar color="primary">
    <ion-title>Share Your Memories
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
    
    <button ion-button outline (click)="takePicture()">
      <ion-icon ios="ios-camera" md="md-camera" id="camera"></ion-icon>
     Take Picture</button>
   <button ion-button outline (click)="selectPhoto()">Select from Gallery</button>
   <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
   
   <ion-item>
     <ion-label stacked>Share Your Feedback</ion-label>
     <ion-textarea
     raw= "4"
     [(ngModel)]="displaySummary">
     </ion-textarea>
   </ion-item>
   
   <button round outline (click)="upload()">Share</button>
    
</ion-content>
