
.position {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center !important;
    text-align: center;
    height: 110px; 
}
.img2 {
    background-image: url("/assets/imgs/blackbuk.jpg");
    color: white;
}
.img3 {
    background-image: url("/assets/imgs/girforast.jpg");
    color: white;
}
    