<!--
  Generated template for the WildlifePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>wildlife</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>National Parks & Wildlife Sanctuaries</h1>
  <h4>Gujrat :</h4>
  <p>
       The one and only land, defines the most diversified beauty at its pristine location with versatile attraction. Not only in terms of culture, festival and eloquent historical monuments; but this incredible land is best accosted with a variety of wildlife living amidst the astonishing landscape and a wide range of floral beauty. With almost 4% of land under the forests, Indian wildlife is perfectly known as rich and diverse.
  </p>  
  <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img2 position" (click)="bb()">Blackbuk</ion-item></ion-col>
          <ion-col col-6><ion-item class="img3 position" (click)="gf()">Gir Forest</ion-item></ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
