<ion-header>

  <ion-navbar color="primary">
    <ion-title>Package</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let pkg of packages | async" (click)="packageDetails(pkg)">
    <ion-card-content>
      <h1>Package: </h1>
      <p>Date: {{pkg.datetime}}</p>
      <br>
      <p>Persons: {{pkg.person}}</p>
      <p item-end>
        Stay {{pkg.stay}} Days
      </p>
      <h4 item-end> Visiting place : {{pkg.visitingPlace}}</h4>

    </ion-card-content>
  </ion-card>

</ion-content>