
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tour Reuirements</ion-title>
  </ion-navbar>

</ion-header>
    
<ion-content padding class="img">
    <form [formGroup]="searchPackage" (submit)="search()">
    <ion-list>
    <ion-item class="transparent">
        <ion-label floating>Which Place You Want to Visit?</ion-label>
        <ion-input formControlName="visitingPlace" type="text" class="text-color"></ion-input>
    </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="transparent">
          <ion-label floating>Duration of Stay</ion-label>
          <ion-input formControlName="stay" type="number" class="text-color"></ion-input>
      </ion-item>
  </ion-list>
    <ion-list>
          <ion-item class="transparent">
              <ion-label floating>Arrival Place</ion-label>
              <ion-input formControlName="arrival" type="text" class="text-color"></ion-input>
          </ion-item>
      </ion-list>
    <ion-list>
      <ion-item class="transparent">
            <ion-label><ion-icon md="md-calendar"></ion-icon> Start your Journey(Select Date)</ion-label>
            <ion-datetime formControlName="datetime" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY" class="text-color"></ion-datetime>
        </ion-item>
    </ion-list>
      <ion-list>
          <ion-item class="transparent">
            <ion-label>Persons</ion-label>
            <ion-select formControlName="person" class="text-color">
                <ion-option value="s52">Adults</ion-option>
                <ion-option value="s42">Children</ion-option>
                <ion-option value="s32">Older</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="transparent">
              <ion-label floating>Addtional Requirements</ion-label>
              <ion-input formControlName="requirements" type="text" class="text-color"></ion-input>
          </ion-item>
      </ion-list>
      <button ion-button round outline (click)="search()" >Search</button>
`</form>
</ion-content>
