page-cab {

    .img{
        background-image: url("/assets/imgs/cabs.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
    }
    .transparent {
        background-color: rgba(255, 255, 255, 0);
    }
    .text-color {
        color: white;        
    }
}
