<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cab Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">

    <button ion-button outline (click)="oneway()">
        One Way
      </button>
      <button ion-button outline (click)="roundtrip()">
          Round Trip
        </button>

        <form [formGroup]="searchCab" (submit)="search()">
  
        <ion-list>
      
        <ion-item class="transparent">
          <ion-label floating>From</ion-label>
          <ion-input formControlName="from" type="text" class="text-color"></ion-input>
        </ion-item>
      
        <ion-item class="transparent">
          <ion-label floating>To</ion-label>
          <ion-input formControlName="to" type="text" class="text-color"></ion-input>
        </ion-item>
        
       
  
        <ion-grid>
          <ion-row>
              <ion-col col-6><ion-item class="transparent">
                  <ion-label floating>Departure</ion-label>
                  <ion-input formControlName="departure" type="text" class="text-color"></ion-input>
                </ion-item></ion-col>
         
  
         
                <ion-col col-6><ion-item class="transparent">
                    <ion-label floating>Return</ion-label>
                    <ion-input formControlName="Return" type="text" class="text-color"></ion-input>
                  </ion-item></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-item class="transparent">
              <ion-label floating>Pickup Time</ion-label>
              <ion-input formControlName="PickupTime" type="text" class="text-color"></ion-input>
            </ion-item>

      </ion-list>
      <button ion-button round outline (click)="search()" >Search</button>
        </form>
    </ion-content>