<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
    <ion-buttons end id="logout">
      <button ion-button icon-only (click)="logOut()">
        <ion-icon ios="ios-power" md="md-power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>

  <!-- <button ion-button full outline (click)="trips()" >My Trips</button>
    <button ion-button full outline (click)="travel()" >Co-Traveller</button>
    <button ion-button full outline (click)="changepass()" >Change Password</button>
    <button ion-button full outline (click)="logout()" >Logout</button> -->

  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            Name
          </ion-col>
          <ion-col col-3 *ngIf="profileData?.fname || profileData?.lname">
            {{profileData?.fname}} {{profileData?.lname}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            Email
          </ion-col>
          <ion-col col-3 *ngIf="profileData?.email">
            {{profileData?.email}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>

</ion-content>