
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Train</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
    <form [formGroup]="searchTrain" (submit)="search()">
    <ion-list>
        
          <ion-item class="transparent">
            <ion-label floating>from</ion-label>
            <ion-input formControlName="to" type="text" class="text-color"></ion-input>
          </ion-item>
        
          <ion-item class="transparent">
            <ion-label floating>To</ion-label>
            <ion-input formControlName="to" type="text" class="text-color"></ion-input>
          </ion-item>
          
          <ion-item class="transparent">
            <ion-label floating>Departure</ion-label>
            <ion-input formControlName="to" type="text" class="text-color"></ion-input>
          </ion-item>
    
          <ion-grid>
            <ion-row>
                <ion-col col-6><ion-item class="transparent">
                    <ion-label floating>Person</ion-label>
                    <ion-input formControlName="to" type="text" class="text-color"></ion-input>
                  </ion-item></ion-col>
           
    
           
                  <ion-col col-6><ion-item class="transparent">
                      <ion-label floating>Economy class</ion-label>
                      <ion-input formControlName="to" type="text" class="text-color"></ion-input>
                    </ion-item></ion-col>
              </ion-row>
            </ion-grid>
    
        </ion-list>
        <button ion-button round outline (click)="search()" >Search</button>
        </form>
      
</ion-content>
