<ion-header>

  <ion-navbar color="primary">
    
    <ion-title>Travel Package</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="package">
        <ion-segment-button value="Ahmedabad">
          Ahmedabad
        </ion-segment-button>
        <ion-segment-button value="Rajkot">
          Rajkot
        </ion-segment-button>
        <ion-segment-button value="Junagadh">
          Junagadh
        </ion-segment-button>
        
      </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div [ngSwitch]="package">
        <ion-list *ngSwitchCase="'Ahmedabad'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="../assets/imgs/gandhi.jpg">
            </ion-thumbnail>
            <h2>Gandhi Museum</h2>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="../assets/imgs/kankaria.jpg">
            </ion-thumbnail>
            <h2>Kankariya Lake</h2>
          </ion-item>
          <ion-item>
              <ion-thumbnail item-start>
                <img src="../assets/imgs/trimandir.jpg">
              </ion-thumbnail>
              <h2>Trimadir</h2>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                  <img src="../assets/imgs/sabarmati.jpg">
                </ion-thumbnail>
                <h2>River Front</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Rajkot'">
            <ion-item>
              <ion-thumbnail item-start>
                <img src="../assets/imgs/ramkrishna.jpg">
              </ion-thumbnail>
              <h2>Ramakrishna Math</h2>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="../assets/imgs/lal-pari-lake.jpg">
              </ion-thumbnail>
              <h2>
                  Lal Pari Lake and Randerda</h2>
            </ion-item>
            <ion-item>
                <ion-thumbnail item-start>
                  <img src="../assets/imgs/rashtriya.jpg">
                </ion-thumbnail>
                <h2>Rashtriya Shala</h2>
              </ion-item>
              <ion-item>
                  <ion-thumbnail item-start>
                    <img src="../assets/imgs/watson-museum.jpg">
                  </ion-thumbnail>
                  <h2>Watson Museum</h2>
              </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'Junagadh'">
              <ion-item>
                  <ion-thumbnail item-start>
                    <img src="../assets/imgs/aji-dam.jpg">
                  </ion-thumbnail>
                  <h2>Aji Dam</h2>
                </ion-item>  
            <ion-item>
                <ion-thumbnail item-start>
                  <img src="../assets/imgs/damodar.jpg">
                </ion-thumbnail>
                <h2>Damodar Kund</h2>
              </ion-item>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../assets/imgs/jama.jpg">
                </ion-thumbnail>
                <h2>Jama Masjid</h2>
              </ion-item>
              <ion-item>
                  <ion-thumbnail item-start>
                    <img src="../assets/imgs/mahabat.jpg">
                  </ion-thumbnail>
                  <h2>Mahabat Maqbara </h2>
                </ion-item>
                <ion-item>
                    <ion-thumbnail item-start>
                      <img src="../assets/imgs/uparkot.jpg">
                    </ion-thumbnail>
                    <h2>Uparkot</h2>
                </ion-item>
            </ion-list>
      </div>
</ion-content>
