<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Highlights" tabIcon="md-list-box"></ion-tab>
  <!-- /<ion-tab [root]="tab3Root" tabTitle="Holidays" tabIcon="md-partly-sunny"></ion-tab> -->
  <ion-tab [root]="tab4Root" tabTitle="Holidays" tabIcon="md-partly-sunny"></ion-tab>
 
</ion-tabs>
