<ion-header>

  <ion-navbar color="primary">
    <ion-title>Hotel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
        <form [formGroup]="searchHotel" (submit)="search()">
  <ion-list>
  <ion-item class="transparent">
      <ion-label floating>Enter City</ion-label>
      <ion-input formControlName="EnterCity" type="text" class="text-color"></ion-input>
  </ion-item>
  </ion-list>
  <ion-list>
        <ion-item class="transparent">
            <ion-label floating>Enter Your Budget</ion-label>
            <ion-input formControlName="EnterYourBudget" type="text" class="text-color"></ion-input>
        </ion-item>
    </ion-list>
  <ion-list>
    <ion-item class="transparent">
      <ion-label>Rate</ion-label>
      <ion-select formControlName="Rate">
          <ion-option value="s5">5-Star</ion-option>
          <ion-option value="s4">4-Star</ion-option>
          <ion-option value="s3">3-Star</ion-option>
          <ion-option value="s2">2-Star</ion-option>
          <ion-option value="s1">1-Star</ion-option>  
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item class="transparent">
          <ion-label><ion-icon md="md-calendar"></ion-icon> Check in Date</ion-label>
          <ion-datetime formControlName="Checkindate" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
  </ion-list>
  <ion-list>
      <ion-item class="transparent">
          <ion-label><ion-icon md="md-calendar"></ion-icon> Check Out Date</ion-label>
          <ion-datetime formControlName="Checkoutdate" displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
  </ion-list>
  <ion-list>
      <ion-item class="transparent">
        <ion-label>Rooms</ion-label>
        <ion-select formControlName="Rooms">
            <ion-option value="s51">1</ion-option>
            <ion-option value="s41">2</ion-option>
            <ion-option value="s31">3</ion-option>
            <ion-option value="s21">4</ion-option>
            <ion-option value="s11">5</ion-option>  
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="transparent">
          <ion-label>Persons</ion-label>
          <ion-select>
              <ion-option value="s52">5</ion-option>
              <ion-option value="s42">4</ion-option>
              <ion-option value="s32">3</ion-option>
              <ion-option value="s22">2</ion-option>
              <ion-option value="s12">1</ion-option>  
          </ion-select>
        </ion-item>
      </ion-list>
    <button ion-button round outline (click)="search()" >Search</button>
        </form>
</ion-content>
