page-holiday {
    .img{
        background-image: url('/assets/imgs/travel.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
    .img1{
        background-image: url('/assets/imgs/date.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
    .img2{
        background-image: url('/assets/imgs/home.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
}
