
<ion-header>

  <ion-navbar color="primary"> 
    <ion-title>Go Travel</ion-title>
     
        <ion-buttons end>
               <button  ion-button (click)="signin()" >Sign in</button>
        </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  
</ion-header>


<ion-content padding>

  <ion-slides>
    <ion-slide class="img">
      <h1>Ready Travel</h1>
      <p>Choose your Destination, plan your trip.pick the best place for your holiday</p>
        </ion-slide>
    <ion-slide class="img1">
      <h1>Select the date</h1>
      <p>
        Select the day.Pick your ticket.we give you the best price. we guaranted!
      </p>
    </ion-slide>
    <ion-slide class="img2">
      <h1>Feel Likes Home</h1>
      <p>
        Enjoy your Holidays!dont forget to take a photo!
      </p>
    </ion-slide>  </ion-slides>
</ion-content>
