<ion-header>
  <ion-navbar color="primary">  
        <ion-buttons end>
               <button  ion-button (click)="signin()" >Sign in</button>
        </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>  
   </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img position" (click)="hotel()">Book Your Stay</ion-item></ion-col>
          <ion-col col-6><ion-item class="img1 position" (click)="flight()">Air Tickets</ion-item></ion-col>
          <!-- <ion-col col-4><ion-item class="img2 position" (click)="holiday()">Holidays</ion-item></ion-col> -->
        </ion-row>
    </ion-grid>

  <ion-slides>
  <ion-slide class="img6" (click)="tp()">
    <h1>Travel Packages</h1>
      </ion-slide>
  <ion-slide class="img7" (click)="td()">
    <h1>Top Destination</h1>
  </ion-slide>
  <ion-slide class="img8" (click)="ta()">
    <h1>Travel Attraction</h1>
  </ion-slide>
  <ion-slide class="img9" (click)="tu()">
      <h1>Tour Diary Special</h1>
  </ion-slide>

</ion-slides>

<ion-grid>
    <ion-row>
      <ion-col col-4><ion-item class="img3 position" (click)="bus()">Bus</ion-item></ion-col> 
      <ion-col col-4><ion-item class="img4 position" (click)="train()">Railways</ion-item></ion-col>
      <ion-col col-4><ion-item class="img5 position" (click)="cab()">Rent a Car</ion-item></ion-col>
    </ion-row>
</ion-grid>

</ion-content>