page-home {
    .slides {
        height: 40%;
        width: 100%;
    }
    .position {
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        height: 110px;
      
    }
    .img {
        background-image: url("/assets/imgs/hotel.jpg");
        color: white;
    }
    .img1 {
        background-image: url("/assets/imgs/flight1.jpg");
        color:white;
    }
    // .img2 {
    //     background-image: url("/assets/imgs/Holidays.jpg");
    //     color:white;
    // }
    .img3 {
        background-image: url("/assets/imgs/bus.jpg");
        color:white;
    }
    .img4{
        background-image: url("/assets/imgs/t2.jpg");
        color:white;
    }
    .img5 {
        background-image: url("/assets/imgs/cab.jpg");
        color:white;
    }
    .img6{
        background-image: url("/assets/imgs/tp.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
    .img7{
        background-image: url("/assets/imgs/td.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
    .img8{
        background-image: url("/assets/imgs/ta.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
    .img9{
        background-image: url("/assets/imgs/tu.jpg");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center !important;
        text-align: center;
        color:white;
    }
}
