<ion-header>

  <ion-navbar color="primary">
    <ion-title>Flight Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">

  <button ion-button outline (click)="oneway()">
    One Way
  </button>
  <button ion-button outline (click)="roundtrip()">
    Round Trip
  </button>
  <button ion-button outline (click)="multicity()">
    Multicity
  </button>

  <form [formGroup]="searchFlight" (submit)="search()">

    <ion-list>
      <ion-item class="transparent">
        <ion-label floating>From</ion-label>
        <ion-input formControlName="from" type="text" class="text-color"></ion-input>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>To</ion-label>
        <ion-input formControlName="to" type="text" class="text-color"></ion-input>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Departure</ion-label>
        <ion-input formControlName="departure" type="text" class="text-color"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-item class="transparent">
              <ion-label floating>Person</ion-label>
              <ion-input formControlName="person" type="text" class="text-color"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item class="transparent">
              <ion-label floating>Economy class</ion-label>
              <ion-input formControlName="class" type="text" class="text-color"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <button ion-button round outline type="submit">Search</button>
  </form>
</ion-content>