<!--
  Generated template for the BeachesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Beaches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Beaches In Gujarat</h1>
    <p>India boasts of a number of enthralling beaches and most of them dot the western coast of the country. Gujarat has a 1600 km long coastline and it is therefore of little wonder that there are a number of alluring beaches in the state that are a potential lure for the ardent beach lovers. indianholiday.com provides you a handy guide to the beaches in Gujarat.</p>
    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img4 position" (click)="bb()">Mandvi</ion-item></ion-col>
          <ion-col col-6><ion-item class="img5 position" (click)="gf()">Dwarka</ion-item></ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img6 position" (click)="bb()">Gopnath</ion-item></ion-col>
          <ion-col col-6><ion-item class="img7 position" (click)="gf()">Hajira</ion-item></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
