
.position {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center !important;
    text-align: center;
    height: 110px; 
}
.img4 {
    background-image: url("/assets/imgs/madvi.jpg");
    color: white;
}
.img5 {
    background-image: url("/assets/imgs/dwarka.jpg");
    color: white;
}
.img6 {
    background-image: url("/assets/imgs/gopnath.jpeg");
    color: white;
}
.img7 {
    background-image: url("/assets/imgs/hajira.jpeg");
    color: white;
}   