<!--
  Generated template for the PasswordResetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>passwordReset</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div text-center>
  <img src="../assets/img/NewLogoSquare.png" class="image">
</div>
<form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input formControlName="email" type="email" placeholder="Your email address" 
      [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
    </ion-input>
  </ion-item>
  <ion-item class="error-message" 
    *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
    <p>Please enter a valid email.</p>
  </ion-item>

  <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid">
    Reset your Password
  </button>

</form>

</ion-content>