
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Card Holder Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item class="transparent">
          <ion-label>Title</ion-label>
          <ion-select > 
              <ion-option value="s3">Mr</ion-option>
              <ion-option value="s2">Mrs</ion-option>
              <ion-option value="s1">Ms</ion-option>  
          </ion-select>
        </ion-item>
      
  

      <ion-grid>
          <ion-row>
            <ion-col col-6><ion-item class="transparent">
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" placeholder="Your Name" class="text-color"></ion-input></ion-item></ion-col>
                <ion-col col-6><ion-item class="transparent">
                    <ion-label stacked>Last Name</ion-label>
                    <ion-input type="text" class="text-color" placeholder="Your Last Name"></ion-input></ion-item></ion-col>
           
          </ion-row>
      </ion-grid>
      <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" placeholder="Your email address">
          </ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input  type="number" placeholder="Your Mobile Number" >
            </ion-input>
        </ion-item>
        <ion-item class="terms-item">
            <ion-label color="primary">I accept terms and conditions</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
    </ion-list>
    <button ion-button block type="submit" round (click)="go()" >
        <!--  [disabled]="!paymentForm.valid" -->
         
        Go For Payment
            </button>
</ion-content>
