.position {
    background-size: 100px; 
    background-repeat: no-repeat; 
    background-position: center center !important;
    text-align: center;
    height: 50px;
  
}
.visa {
    background-image: url("/assets/imgs/Visa-Logo.jpg");
    color: white;
}
.master {
    background-image: url("/assets/imgs/MasterCard-Logo.jpg");
    color: white;
}
.rupay {
    background-image: url("/assets/imgs/RuPay.jpg");
    color: white;
}