<ion-header>

  <ion-navbar color="primary">
    <ion-title>Payment Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page txt">

    <ion-list>
        <!-- <form [formGroup]="paymentForm" submit="paynow()" novalidate> -->
           
    <ion-item class="transparent">
      <ion-label stacked>Cardholder's Name (Please enter the same name which is writte on your card)</ion-label>
      <ion-input type="text"></ion-input>
      <!-- pattern="[a-zA-Z ]+" [class.invalid]="!paymentForm.controls.cname.valid && paymentForm.controls.cname.dirty" -->
    </ion-item>


    <ion-item class="transparent">
      <ion-label stacked>Credit Card Number</ion-label>
      <ion-input type="number"></ion-input>
      <!-- formControlName="cnumber" [(ngModel)]='cardnumber' maxlength="10" -->
    </ion-item>
  
  <ion-grid>
      <ion-row>
        <ion-col col-4><ion-item class="visa position" (click)="vi()"></ion-item></ion-col>
        <ion-col col-4><ion-item class="master position" (click)="ma()"></ion-item> </ion-col>
        <ion-col col-4><ion-item class="rupay position" (click)="pay()"></ion-item> </ion-col> 
      </ion-row>
  </ion-grid>
  
    <ion-item class="transparent">
      <ion-label stacked>Expiry Date</ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
  
    <ion-item class="transparent">
      <ion-label stacked>CVV</ion-label>
      <ion-input type="number"  ></ion-input>  
      <!-- formControlName="cvvnumber" [(ngModel)]='cvvnumber' maxlength="3" -->
    </ion-item>
 
  
   <button ion-button block type="submit" round  (click)="payment()" >
      <!--  [disabled]="!paymentForm.valid" -->
       
      Pay Your Ammount
          </button>
  <!-- </form> -->
</ion-list>
</ion-content>
