<ion-header>

  <ion-navbar color="primary">
    <ion-title>Honeymoon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Honeymoon Tour Packages</h1>
    <p>
        Are you delighted for your honeymoon vacation? This is one such escape you will treasure for the rest of your life. </p>
        <p>It is a once in a lifetime opportunity to have fun and give a good start to your love and romantic life. There is no famine of honeymoon places in India. Be it the hushed and isolated Lakshadweep islands, lively and vivacious place of Goa, royal city of Jodhpur or Scotland of India- Coorg, India is the perfect destination to spend a time with the most special person in someone's life.
    </p>
    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img9 position">Diu</ion-item></ion-col>
          <ion-col col-6><ion-item class="img10 position">Gir Forest</ion-item></ion-col>
        </ion-row>
    </ion-grid>
  
</ion-content>
