
.position {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center !important;
    text-align: center;
    height: 110px; 
}
.img9 {
    background-image: url("/assets/imgs/diu-tour.jpg");
    color: white;
}
.img10 {
    background-image: url("/assets/imgs/gir-national.jpg");
    color: white;
}
    
