
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Flight Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
  <button ion-button outline (click)="oneway()">
      One Way
    </button>
    <button ion-button outline (click)="roundtrip()">
        Round Trip
      </button>
      <button ion-button outline (click)="multicity()">
          Multicity
        </button>
<ion-list>
  
  <ion-grid>
    <ion-row>
        <ion-col col-4><ion-item class="transparent">
            <ion-label floating>from</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item></ion-col>

          <ion-col col-4><ion-item class="transparent">
              <ion-label floating>To</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item></ion-col>

            <ion-col col-4><ion-item class="transparent">
              <ion-label floating>Departure</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col col-4><ion-item class="transparent">
              <ion-label floating>from</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item></ion-col>
  
            <ion-col col-4><ion-item class="transparent">
                <ion-label floating>To</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item></ion-col>
  
              <ion-col col-4><ion-item class="transparent">
                <ion-label floating>Departure</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item></ion-col>
        </ion-row>
      </ion-grid>
      <button  ion-button outline (click)="addcity()" >Add City</button>
    <ion-grid>
      <ion-row>
          <ion-col col-6><ion-item class="transparent">
              <ion-label floating>Person</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item></ion-col>
     

     
            <ion-col col-6><ion-item class="transparent">
                <ion-label floating>Economy class</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item></ion-col>
        </ion-row>
      </ion-grid>

  </ion-list>
  <button ion-button round outline (click)="search()" >Search</button>
</ion-content>
