<!--
  Generated template for the HillstationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>hillstation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Hill Stations in Gujrat
</h1>
<h4>
    PAMPER YOUR SOUL IN CHARMING MOUNTAIN STATIONS OF INDIA
</h4>
<p>Technically, a hill station is a town at a higher elevation than the nearby plain or valley having cooler temperature and pleasant atmosphere. A place of refuge from the summer heat.

    Well, all talk and folklores aside, let’s make the list!</p>
    <ion-grid>
        <ion-row>
          <ion-col col-6><ion-item class="img position" (click)="bb()">Saputara</ion-item></ion-col>
          <ion-col col-6><ion-item class="img1 position" (click)="gf()">Wilson Hill Dharampur</ion-item></ion-col>
        </ion-row>
    </ion-grid>

  </ion-content>
