
// .position {
//     background-size: cover; 
//     background-repeat: no-repeat; 
//     background-position: center center !important;
//     text-align: center;
//     height: 110px;
  
// }
.img {
    background-image: url("/assets/imgs/Saputara.jpg");
    color: white;
}
.img1 {
    background-image: url("/assets/imgs/Wilson_Hill_Dharampur.jpg");
    color: white;
}
