<ion-header>

  <ion-navbar color="primary">
    <ion-title>Package Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Package: </h1>
    <p>Date: {{package.datetime}}</p>
    <br>
    <p>Persons: {{package.person}}</p>
    <p>
      Stay {{package.stay}} Days
    </p>
    <h4 item-end> Visiting place : {{package.visitingPlace}}</h4>
    <br>
    x<br>
    <h1>Description: </h1>
    <p>{{package.description}}</p>
    <button ion-button (click)="book(package.datetime,package.person,package.stay,package.visitingPlace,package.description)">book</button>    
    <!-- showToastWithCloseButton() -->
</ion-content>
