<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>TrainSearchResult</ion-title>
  <ion-buttons end>
          <button ion-button icon-only [navPush]="searchPage">
            <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
          </button>
    
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
     
        <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
     
      <h2>GSRTC-11429</h2>
      <p>EXPRESS</p>
      <p>44 seats</p>
      <p>no rating</p>
        <p item-end>5:25 PM</p><br>
        <p item-end>5:25 PM</p>
    </ion-item>
    <ion-item>
     
      <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
   
    <h2>GSRTC-11429</h2>
    <p>EXPRESS</p>
    <p>44 seats</p>
    <p>no rating</p>
      <p item-end>5:25 PM</p><br>
      <p item-end>5:25 PM</p>
  </ion-item>
  <ion-item>
     
    <ion-icon ios="ios-bus" md="md-bus"></ion-icon>
 
  <h2></h2>
  <p>EXPRESS</p>
  <p>44 seats</p>
  <p>no rating</p>
    <h4 item-end>5:25 PM</h4><br>
    <p item-end>5:25 PM</p>

</ion-item>
<ion-item>
     
  <ion-icon ios="ios-bus" md="md-bus"></ion-icon>

<h2>GSRTC-11429</h2>
<p>EXPRESS</p>
<p>44 seats</p>
<p>no rating</p>
  <p item-end>5:25 PM</p><br>
  <p item-end>5:25 PM</p>
</ion-item>

    </ion-list>
    
</ion-content>
