
<ion-header>

  <ion-navbar color="primary">
    
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>CabSearchResult</ion-title>
        <!-- <ion-buttons end id="notification">
          <button ion-button icon-only [navPush]="notificationPage">
            <ion-icon name="md-notifications">
              <ion-badge id="notifications-badge" color="danger">5</ion-badge>
            </ion-icon>       
          </button>
    
        </ion-buttons>
        <ion-buttons end>
          <button ion-button icon-only [navPush]="searchPage">
            <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
          </button>
    
        </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
     
        <ion-icon ios="ios-car" md="md-car"></ion-icon>
     
      <h2>Innove, Xylo  , 4 Seater</h2>
      <p>based on driver</p>
      <p>and</p>
      <p> cab quality</p>
      <p item-end>{{price | currency:'INR':true}}</p>
        
      </ion-item>
      <ion-item>
     
        <ion-icon ios="ios-car" md="md-car"></ion-icon>
     
      <h2>Wagon R  , 4 Seater</h2>
      <p>based on driver</p>
      <p>and</p>
      <p> cab quality</p>
      <p item-end>{{price | currency:'INR':true}}</p>
        
      </ion-item>
      <ion-item>
     
        <ion-icon ios="ios-car" md="md-car"></ion-icon>
     
      <h2>Dzire, Etios  , 4 Seater</h2>
      <p>based on driver</p>
      <p>and</p>
      <p> cab quality</p>
      <p item-end>{{price | currency:'INR':true}}</p>
        
      </ion-item>
      <ion-item>
     
        <ion-icon ios="ios-car" md="md-car"></ion-icon>
     
      <h2>Indica,Swift , 4 Seater</h2>
      <p>based on driver</p>
      <p>and</p>
      <p> cab quality</p>
      <p item-end>{{price | currency:'INR':true}}</p>
        
      </ion-item>

        </ion-list>
</ion-content>
