
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Availabel Hotels</ion-title>
        
        <ion-buttons end>
          <button ion-button icon-only [navPush]="searchPage">
            <ion-icon ios="ios-options-outline" md="md-search"></ion-icon>
          </button>
    
        </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content>

    <img width="400" height="200" src="../../assets/imgs/starottel.jpg">
    
      <ion-card class="card-top">
          <ion-card-content>
          <h3>STAROTTEL AHMEDABAD</h3>
          <p>Ashram Road</p>
          <br>
          <p>include in the price</p>
          <p item-end>
              per night
            </p>
          <h4 item-end> {{price1 | currency:'INR':true}}</h4>
          
          </ion-card-content>
        </ion-card>
    
        <br><br><br><br>
    
      <ion-card class="card">
        <ion-card-content>
          <h4>About starottel</h4>

           <p> St. Laurn Tower Ahmedabad, a hotel offering 5-star luxuries, located in the heart of the city on Ashram Road is only 8 km from International & Domestic Airport. The hotel has a tradition of being a home to the discerning business traveller since its inception. In a city legendary for a mix of contemporary and modern architecture, St Laurn Ahmedabad offers the finest business environment.</p>
        </ion-card-content>
      </ion-card> 
    
      </ion-content>
      <ion-content>

          <img width="400" height="200" src="../../assets/imgs/treego.jpg">
          
            <ion-card class="card-top">
                <ion-card-content>
                <h3>LEMON TREE AHMEDABAD</h3>
                <p>Ashram Road</p>
                <br>
                <p>include in the price</p>
                <p item-end>
                    per night
                  </p>
                <h4 item-end> {{price1 | currency:'INR':true}}</h4>
                
                </ion-card-content>
              </ion-card>
          
              <br><br><br><br>
          
            <ion-card class="card">
              <ion-card-content>
                <h4>About LEMON TREE AHMEDABAD</h4>
      
                 <p> Lemon Tree is located in Ahmedabad, 12 km from the airport and 6 km from the railway station.

                    Nearby: Hazira LNG; Adani house; Suzlon Energy; Reliance Capital; Gandhi Ashram; Kite Museum; 
                    Swaminarayan Temple; Hall of Space and Science.
                    
                    Facilities: fitness center; Wi-Fi; business desk; Citrus Café - multi-cuisine coffee shop.</p>
              </ion-card-content>
            </ion-card> 
          
            </ion-content>
            <ion-content>

                <img width="400" height="200" src="../../assets/imgs/regenta.jpg">
                
                  <ion-card class="card-top">
                      <ion-card-content>
                      <h3>REGENTA CENTRAL ANTARIM</h3>
                      <p>CG Road</p>
                      <br>
                      <p>include in the price</p>
                      <p item-end>
                          per night
                        </p>
                      <h4 item-end> {{price1 | currency:'INR':true}}</h4>
                      
                      </ion-card-content>
                    </ion-card>
                
                    <br><br><br><br>
                
                  <ion-card class="card">
                    <ion-card-content>
                      <h4>About Regenta Central Antarim</h4>
            
                       <p> The hotel houses various room options which guests can choose as per their requirements. The rooms are chic and contemporary in approach.All rooms have classy bathrooms with basic toiletries and hot and cold water supply.Best in class facilities are provided to the travelers like Wi-Fi, laundry, dry cleaning, front desk, airport shuttle, ticket service, tour desk, currency exchange, ATM/ cash machine, room service and parking. Business and social events can be arranged at the business center and banquet hall. Fitness freaks can pump their muscles at the fitness center. In case of emergency, medical assistance can be availed.</p>
                    </ion-card-content>
                  </ion-card> 
                
                  </ion-content>
                      
</ion-content>
