<ion-header>

  <ion-navbar color="primary">
    <ion-title>Yoga</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Ayurveda Tourism in Gujarat</h1>
    <h4>Gujrat :</h4>
    <p>
        Gujarat is slowly and gradually becoming an offbeat ayurvedic center in India. The state has earned many titles and applauds for its outcoming spa and Ayurveda resorts. Gujarat was the first state in India that started the concept of Ayurveda schools. Tourists from around the world visit Gujarat in pursuit of healing Ayurvedic treatments and therapeutics.
    </p>  
    <p>Gujarat is doing extremely well in Ayurveda based medical tourism. There is an advent growth of the number of spa and Ayurveda centres in Gujarat. From relaxing Swedish massage to the rejuvenating Panchkarma, Gujarat's Ayurveda centres have many options to keep mind and body relaxed. Boulevarrd 9 Resort and Spa in Nadiad, Anantaa Wellness in Ahmedabad, Ayuryog in Ahmedabad, Cambay Orient Spa and Resort in Gandhinagar, Navjivan Nature Cure Centre in Mandvi, Madhuban Resort and Spa in Vallabh Vidyana-gar and Aum Health Resort in Vadodara are some of the finest spa centres in Gujarat, which have varied options to stabilize body, mind and soul.

      </p>
    
</ion-content>
