<ion-header>

  <ion-navbar color="primary">
    <ion-title>Outstantion Cab</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="img">
  
      <button ion-button outline (click)="oneway()">
          One Way
        </button>
        <button ion-button outline (click)="roundtrip()">
            Round Trip
          </button>
      
    
      <ion-list>
        
          <ion-item class="transparent">
            <ion-label floating>From</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        
          <ion-item class="transparent">
            <ion-label floating>To</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          
         
    
          <ion-grid>
            <ion-row>
                <ion-col col-6><ion-item class="transparent">
                    <ion-label floating>Departure</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item></ion-col>
           
    
           
                  <ion-col col-6><ion-item class="transparent">
                      <ion-label floating>Return</ion-label>
                      <ion-input type="text"></ion-input>
                    </ion-item></ion-col>
              </ion-row>
            </ion-grid>
    
            <ion-item class="transparent">
                <ion-label floating>Pickup Time</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
  
        </ion-list>
        <button ion-button round outline (click)="search()" >Search</button>
    </ion-content>
