<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>singup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page txt">
  <ion-list>
    <form [formGroup]="signupForm" (submit)="signup()" novalidate>

      <ion-item>
        <ion-label stacked>First name</ion-label>
        <ion-input formControlName="fname" type="text" pattern="[a-zA-Z ]+" placeholder="Your First name" [class.invalid]="!signupForm.controls.fname.valid && signupForm.controls.fname.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.fname.valid  && signupForm.controls.fname.dirty">
        <p>Please enter a valid name.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last name</ion-label>
        <ion-input formControlName="lname" type="text" pattern="[a-zA-Z ]+" placeholder="Your Last name" [class.invalid]="!signupForm.controls.lname.valid && signupForm.controls.lname.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.lname.valid  && signupForm.controls.lname.dirty">
        <p>Please enter a valid name.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Re-type password</ion-label>
        <ion-input formControlName="passwordRetyped" type="password" placeholder="Re-type password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <button ion-button block type="submit" [disabled]="!signupForm.valid">
       
        Create an Account
            </button>
    </form>
  </ion-list>


</ion-content>