<!--
  Generated template for the HeritagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Heritage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Heritage Tourism in Gujarat</h1>
    <h4>Gujrat :</h4>
    <p>
        Gujarat consists of over 200 monuments while some are well-preserved and others are still unknown and lying in the ruins. Go for a heritage tour to Gujarat and witness the inseparable historical symbols of India.
    </p>  
    <ion-grid>
          <ion-row>
            <ion-col col-6><ion-item class="img7 position" (click)="bb()">Royal Palace</ion-item></ion-col>
            <ion-col col-6><ion-item class="img8 position" (click)="gf()">Forts</ion-item></ion-col>
          </ion-row>
      </ion-grid>
</ion-content>
