
.position {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center !important;
    text-align: center;
    height: 110px; 
}
.img7 {
    background-image: url("/assets/imgs/royal-palace.jpg");
    color: white;
}
.img8 {
    background-image: url("/assets/imgs/forts.jpg");
    color: white;
}
    